@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
:root{
        --azul-dnc: #0C70F2;
        --preto-dnc: #303030;
        --cinza-hover: #C9C9C9;
        --font-padrão:'Inter';


}

        body {
            margin: 0; /* margem externa dos elementos */
            padding: 0; /* margem interna dos elementos */
            
            background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
            background-repeat: no-repeat;/*não repitir as cores para funcionar o degrade*/ 
        }
        /*Menu de navegação principal*/

        #principal{
            width: 100%;
            height: 100px;
            border: 1px solid black;
            background-color: var(--preto-dnc); /* valores hexadecimal */
            display: flex;
            justify-content: space-between;/*espaço entre os elementos p/ melhor divisão*/
            align-items: center;
            border-bottom: 1px solid #bababa;
        }
            #menu{
                display: flex; /* flex organização para facilitar a posição dos elementos*/
                width: 50%; /* define o tmanho da div*/
                justify-content:space-around ; /* distribui igualmente*/
                align-items: center; /* alinhar os items ao centro verticalmente*/
                margin-left: 5%;
            }
            #principal div a{
                font-family: var(--font-padrão); /* definir fonte*/
                font-size: 25px; /* tamanho fonte*/
                font-weight: 600; /* espessura*/
                
                color: white;
                text-decoration:none;
            }
            
            #principal div a:hover{
                color: var(--cinza-hover);} /*pseudoclasse para mudar cor quando passar o mouse no local*/

            #principal button{
                margin-right: 5%;/* margem direita*/
                background-color: var(--azul-dnc); 
                border: 0;
                height: 40px;
                width: 80px;
                
                font-family:var(--font-padrão);
                font-size: 20px;
                font-weight: 600px;
                
                color: white;
                box-shadow: 3px 2px 4px rgba (12, 112, 242, 0.25); /* sombreamento*/
                cursor: pointer;/* mãozinha do mouse*/
            }

    /*Seção principal do site*/

    section{
        display: flex;/*permitir facilitar a organização*/
        flex-direction: column; /*definiar a direção do flex para ficar como coluna*/
        justify-content: center; 
        align-items: center;

        margin-top:100px;
        margin-bottom:100px;
    }

    header{
        color: white;
        font-family: var(--font-padrão);
    }

    header h1{
        text-transform:uppercase; /*caixa alta*/
        font-size: 80px;
        font-weight: 800px;
        text-align: center;

        margin-bottom: 20px;
    }

    header h2{
        text-align: center;
        font-size: 40px;
        font-weight: 700px;

        margin-bottom: 100px;
    }

    header .invert{
        background-color: black;
        font-weight: bold;
        padding: 5px;
    }

    /*Formulário*/

    form{
        color: white;
        font-family: var(--font-padrão);
        font-size: 30px;
        font-weight: 600px;
        width: 600px;
    }

    .form-group{
        display:flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    form input{
        border-radius: 10px;
        height: 30px;
        border: 0px;
        font-size: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);

    }

    form label{
        margin: 10px 0px 10px 0px;
    }

    form input::placeholder{
        color: rgba(57, 57, 57, 0.5);
    }

    .checkbox-items label{
        font-size: 25px;
    } 

    .checkbox-items{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    input[type="checkbox"]{
        transform: scale(1.7);
    }

    input[type="submit"]{
        background-color: rgba(12, 112, 242, 0.9);
        width: 100%;
        height: 56px;
        font-size: 32px;
        font-weight: 600px;
        color: white;
        margin-top: 100px;
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        cursor:pointer;

    }